* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  background-color: #FCF0FF;
}

.top-strip{
  background-color: #9D40E4;
  height: 52px;

}

.container{
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-card{
  width: 300px;
  height: 340px;
  background-color: #9D40E4;
  border-radius: 35px;
}

