body{
    margin: 0;
    font-family: cursive;
}

.hashtag-header{
    background-color: #0660D4;
    padding: 4rem;
    color: white;
    background-image: url(./images/background.png);
    background-size: 240px;
    background-position-x: 100%;
    background-position-y: -140px;
    background-repeat: no-repeat;
}

h1{
    margin: 0;
    margin-bottom: 16px;
    font-size: 3rem;
}

.hashtag-header span{
    font-size: 2rem;
}

.hashtag-header img{
    width: 5rem;
    height: 5rem;
    border: white 5px solid;
    border-radius: 100%;
    vertical-align: middle;
}

img + img{
    margin-left: -1.5rem;
}