body{
    margin: 0;
    font-family: "Salsa", cursive;
} 

.hero-section{
    /* min-height: 100vh; */
    /* background-color: #F99501; */
    background-image: url(./images/orange-backdrop\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.paragraph-and-audio{
    margin-left: 15rem;
}

.decoration{
    width: 250px;
    margin-bottom: -150px;
}

.hero-section p{
    font-size: 46px;
    font-family: "Salsa", cursive;
    max-width: 500px;
    /* margin-left: 15rem; */
}

audio::-webkit-media-controls-play-button,
     audio::-webkit-media-controls-panel {
     background-color: #FBD8A4;
     color: #000000;
}

.audio-container{
    background-color: #FBD8A4;
    max-width: max-content;
    border-radius: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px; 
}

.lakshmi-ganesh-section{
    background-color: #F99501;
    padding-top: 1em;
    padding-inline: 1rem;
}

.lakshmi-ganesh-img{
    max-width: 900px;
    width: 100%;
    display: block;
    margin-inline: auto;
}

.horizontal-devider{
    display: flex;
    align-items: center;
    gap: 10px;
    /* justify-content: center; */
    max-width: 1010px;
    margin-inline: auto;
    /* margin-top: 1rem; */
    margin-bottom: 2em;
}

.horizontal-line{
    height: 4px;
    width: 468px;
    background-color: #FBD8A4;
}

.circle{
    width: 10px;
    height: 10px;
    background-color: #FBD8A4;
    border-radius: 50%;
    flex-shrink: 0; 
}

.lakshmi-ganesh-section h2{
    font-family: "Style Script", system-ui;
    font-size: 70px;
    font-weight: 400;
    text-align: center;
    /* border-radius: 20px; */
}

.white-card{
    max-width: 855px;
    background-color: white;
    padding: 4rem;
    border-radius: 24px;
    display: inline-block;
}

.white-card p{
    font-size: 2em;
}

@media (max-width: 580px){
    .first-deepak{
        display: block;
        margin-left: auto;
    }
    .paragraph-and-audio{
        margin-left: 1rem;
    }
    .decoration{
        margin-bottom: 0;
    }
    .music-lines, 
    .music-soulfull-text, 
    .second-deepak{
        display: none;
    }
    
    .hero-section p{
        font-size: 28px;
    }
    .first-deepak{
        width: 100%;
        max-width: 300px;
    }
    .lakshmi-ganesh-section h2{
        font-size:34px;
    }
} 

/* @media (width< 840px){
    .second-deepak{
        display: none;
    }
} */