body{
    margin: 0;
} 

.hero-section{
    min-height: 100vh;
    /* background-color: #F99501; */
    background-image: url(./images/orange-backdrop\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.paragraph-and-audio{
    margin-left: 15rem;
}

.decoration{
    width: 250px;
    margin-bottom: -150px;
}

.hero-section p{
    font-size: 46px;
    font-family: "Salsa", cursive;
    max-width: 400px;
    /* margin-left: 15rem; */
}

audio::-webkit-media-controls-play-button,
     audio::-webkit-media-controls-panel {
     background-color: #FBD8A4;
     color: #000000;
}

.audio-container{
    background-color: #FBD8A4;
    max-width: 500px;
    border-radius: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px; 
}