.stars {
  background-color: white;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  animation-iteration-count: infinite;
  position: absolute;
  top: 100px;
}

.star-1 {
  margin-top: 15%;
  margin-left: 60%;
  animation-name: twinkle-1;
  animation-duration: 0.9s;
}

.star-2 {
  margin-top: 10%;
  margin-left: 25%;
  animation-name: twinkle-2;
  animation-duration: 1s;
}

.star-3 {
  margin-top: 1px;
  margin-left: 45%;
  animation-name: twinkle-3;
  animation-duration: 1.1s;
}

.star-4 {
  margin-top: 5%;
  margin-left: 75%;
  animation-name: twinkle-4;
  animation-duration: 0.8s;
}

.star-5 {
  margin-top: 1%;
  margin-left: 35%;
  animation-name: twinkle-5;
  animation-duration: 1.2s;
}

.star-6 {
  margin-top: 0%;
  margin-left: 5%;
  animation-name: twinkle-6;
  animation-duration: 1.5s;
}

.star-7 {
  margin-top: 0%;
  margin-left: 100%;
  animation-name: twinkle-7;
  animation-duration: 1s;
}

@keyframes twinkle-1 {
  50% {
    transform: scale(0.5);
    opacity: 0.5;
  }
}

@keyframes twinkle-2 {
  20% {
    transform: scale(0.5);
    opacity: 0.5;
  }
}

@keyframes twinkle-3 {
  30% {
    transform: scale(0.5);
    opacity: 0.5;
  }
}

@keyframes twinkle-4 {
  40% {
    transform: scale(0.5);
    opacity: 0.5;
  }
}

@keyframes twinkle-5 {
  60% {
    transform: scale(0.5);
    opacity: 0.5;
  }
}

@keyframes twinkle-6 {
  10% {
    transform: scale(0.5);
    opacity: 0.5;
  }
}

@keyframes twinkle-7 {
  70% {
    transform: scale(0.5);
    opacity: 0.5;
  }
}

#back {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgb(0, 0, 0), #010191, #0099ff, #fff8f8, #ffa277);
}
