body {
  /* background: radial-gradient(circle, red 0%, orange 15%, yellow 30%, green 45%, blue 60%, rgb(0, 255, 55) 75%, rgb(238, 152, 130) 100%); */
  background: black;
}
#rect {
  height: 10px;
  width: 70%;
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  margin: 1px auto;
  border-radius: 50%;
  animation-name: rainbow;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  /* border: 2px solid white; */
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  padding: 1.4em;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
}

@keyframes rainbow {
  0% {
    background-position: 0% 0%;
    transform: rotate(0deg) scale(1.1);
  }

  10% {
    background-position: 10% 0%;
    transform: rotate(36deg) scale(1.2);
  }

  20% {
    background-position: 20% 0%;
    transform: rotate(72deg) scale(1.3);
  }

  30% {
    background-position: 30% 0%;
    transform: rotate(108deg) scale(1.4);
  }

  40% {
    background-position: 40% 0%;
    transform: rotate(144deg) scale(1.5);
  }

  50% {
    background-position: 50% 0%;
    transform: rotate(180deg) scale(1.6);
  }

  60% {
    background-position: 60% 0%;
    transform: rotate(216deg) scale(1.5);
  }
  70% {
    background-position: 70% 0%;
    transform: rotate(252deg) scale(1.4);
  }

  80% {
    background-position: 80% 0%;
    transform: rotate(288deg) scale(1.3);
  }

  90% {
    background-position: 90% 0%;
    transform: rotate(324deg) scale(1.2);
  }

  100% {
    background-position: 100% 0%;
    transform: rotate(360deg) scale(1.1);
  }
}

div:hover {
  animation-play-state: paused;
}
