* {
  box-sizing: border-box;
}

:root {
  --brand-color: #5128C6;
  --checked-color: #A9A9F0;
}

body {
  margin: 0;
  background-color: #C2C2C2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  gap: 20px;
  flex-wrap: wrap;
}

.checkbox {
  position: absolute;
  opacity: 0; /* Hide the actual checkbox */
}

.checkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.checkbox-style-1 {
  border: 2px solid #C2C2C2;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.checkbox-style-1:hover {
  border-color: var(--brand-color);
}

.checkbox-style-1 .check-icon {
  width: 24px;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
}

.checkbox:checked + .checkbox-style-1 {
  border-color: var(--brand-color);
  background-color: var(--brand-color);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.checkbox:checked + .checkbox-style-1 .check-icon {
  opacity: 1;
  transform: scale(1.1);
}

.checkbox-style-2 {
  border: 2px solid #C2C2C2;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.checkbox-style-2:hover {
  border-color: #FF5722;
}

.checkbox-style-2 .check-icon {
  width: 28px;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
}

.checkbox:checked + .checkbox-style-2 {
  border-color: #FF5722;
  background-color: #FF5722;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.checkbox:checked + .checkbox-style-2 .check-icon {
  opacity: 1;
  transform: scale(1.2);
}

.checkbox-style-3 {
  border: 2px solid #C2C2C2;
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.checkbox-style-3:hover {
  border-color: #4CAF50;
}

.checkbox-style-3 .check-icon {
  width: 32px;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
}

.checkbox:checked + .checkbox-style-3 {
  border-color: #4CAF50;
  background-color: #4CAF50;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.checkbox:checked + .checkbox-style-3 .check-icon {
  opacity: 1;
  transform: scale(1.3);
}

.checkbox:focus + label,
label:active {
  border-color: var(--brand-color);
  outline: 2px solid #CFBFFF;
}
