body {
  margin: 0;
  font-family: "Lexend Deca", system-ui;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

main{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards-container {
  color: white;
  /* padding: 1.2rem; */
  margin: 1.2rem;
  display: flex;
  /* background-color: aqua; */
  border-radius: 8px;
  overflow: hidden;
  max-width: 1000px;
  /* margin: auto; */
} 

.card{
    padding: 3rem;
    display: flex;
    flex-direction: column;
}

.card img{
    width: 60px;
    height: 40px;
}

.card h2{
    text-transform: uppercase ;
    font-family: "Big Shoulders Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
}

.card p{
    opacity: 0.6;
    line-height: 30px;
    margin-bottom: 4em;
}

.card a{
    border: 2px solid white;
    padding: 12px 30px;
    border-radius: 30px;
    margin-top: auto;
    /* align-self: flex-start; */
    margin-right: auto;
}

.orange-card {
  background-color: #e28525;
  /* border-top-left-radius: 10px;
  border-top-right-radius: 10px; */
  /* border-radius: 40px 40px 0 0; */
}

.green-card {
  background-color: #016972;
}

.dark-green-card {
  background-color: #00403f;
  /* border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px; */
  /* border-radius: 0 0 40px 40px; */
}
