body {
  margin: 0;
  font-family: "Lexend Deca", system-ui;
}

a {
  color: inherit;
}

.cards-container {
  color: white;
  padding: 1rem;
}

.card h2{
    text-transform: uppercase ;
    font-family: "Big Shoulders Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.orange-card {
  background-color: #e28525;
}

.green-card {
  background-color: #016972;
}

.dark-green-card {
  background-color: #00403f;
}
